
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.error-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.error-container h1 {
    color : #fff;
}
.error-container p {
    font-weight: bold;
    color: #fff;
}

.error-container a {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #6b00a0;
    background-color: #3b0050;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    max-width: 200px;
    margin: 20px auto;
}

.error-container a:hover {
    background-color: #b79fc3;
    color: #6b00a0;
}