<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" type="image/png" href="{{  url_for('static', filename='/sources/login.png') }}">
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/register" method="post">
            <h1 class="create">Create Account</h1>
            <input type="text" placeholder="Login" name="username" required/>
            <input type="email" placeholder="Email" name="email" required/>
            <input type="password" placeholder="Password" name="password" required/>
            <button>Sign Up</button>
        </form>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
    <div class="form-container sign-in-container">
        <form action="/login" method="post">
            <h1 class="create">Sign in</h1>
            <input type="text" placeholder="Login" name="username" required/>
            <input type="password" placeholder="Password" name="password" required/>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please log in with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
        This is my second site, I am glad to welcome you to the registration)
    </p>
</footer>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var message = "{{ message }}";
        var unmessage = "{{ unmessage }}";

        if (message) {
            showAlert(message, 'green', true); // Pass true for thumbs-up
        } else if (unmessage) {
            showAlert(unmessage, 'red', false); // Pass false for thumbs-down
        }

        var loginMessage = "{{ login_message }}";

        if (loginMessage) {
            showAlert(loginMessage, 'red', false);  // Call showAlert function with the loginMessage and thumbs-down icon
        }
    });

    function showAlert(message, bgColor, isThumbsUp) {
        // Create a div element for the alert
        var alertDiv = document.createElement('div');
        alertDiv.style.backgroundColor = bgColor;  // Set the background color
        alertDiv.style.color = 'white';  // Set the text color
        alertDiv.style.padding = '10px';  // Set padding
        alertDiv.style.margin = '10px auto';  // Set margin to auto horizontally
        alertDiv.style.borderRadius = '5px';  // Set border radius

        // Create a span element for the thumbs-up or thumbs-down icon
        var iconSpan = document.createElement('span');
        iconSpan.style.marginRight = '5px'; // Add some margin to separate the icon from the text

        // Set the inner HTML of the span based on the isThumbsUp variable
        iconSpan.innerHTML = isThumbsUp ? '&#128077;' : '&#128078;';

        // Append the icon span to the alert div
        alertDiv.appendChild(iconSpan);

        // Set the text content of the alert div
        alertDiv.textContent += message;

        alertDiv.style.position = 'fixed';  // Set position to fixed
        alertDiv.style.top = '0';  // Set top to 0

        // Append the alert div to the body
        document.body.appendChild(alertDiv);

        // Remove the alert div after 5000 milliseconds (5 seconds)
        setTimeout(function () {
            alertDiv.remove();
        }, 5000);
    }
</script>
</body>
</html>
